.Grid {
  display: grid;
  align-items: stretch;
  height: 100%;
  width: 100%;
  grid-template-columns: 400px auto;
  grid-template-rows: min-content auto min-content;
  grid-template-areas:
    "header header"
    "editor world"
    "editor controls";
}

.World {
  grid-area: world;
}

.Editor {
  grid-area: editor;
}

.Controls {
  grid-area: controls;
}

.AppHeader {
  grid-area: header;
}
